* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #222222;
}
.wholeBody {
  width: 100%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  color: white;
}
.category {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  margin-top: 50px;
  border: none;
}
button {
  height: 50px;
  width: 100px;
  border-radius: 16px;
  background-color: #444444;
  color: #f6f7eb;
  border: none;
}
.foodsall {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 100%;
  justify-content: start;
  gap: 24px;
  margin-top: 36px;
}
.food1name {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  color: #f6f7eb;
}
.food1all {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 32px;
  justify-content: space-evenly;
}
.food1 {
  display: flex;
  margin-top: 0;
  justify-content: center;
  background-color: #444444;
  border-radius: 16px;
  width: 700px;
}
.zurag1food {
  border-radius: 16px;
  height: 200px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
}
.food1info {
  font-size: 16px;
  color: #f6f7eb;
  font-weight: 300;
}
